body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.game-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #333;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons img {
  width: 100px;
  height: 100px;
  margin: 0 1rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  /* mix-blend-mode: multiply; */
  background: transparent;
}
img:active {
  border: 1px solid #ff5722;
}

.buttons button:hover {
  background: #0056b3;
}

.result {
  margin-top: 20px;
}

.result p {
  font-size: 1.2rem;
}

#winner span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ff5722;
}
.records {
  text-align: left;
}

#reset {
  cursor: pointer;
}

#reset:active {
  color: #ff5722;
}

@media (max-width: 768px) {
  /* Styles for devices with a screen width of 768px or less (e.g., tablets and phones) */
  .buttons img {
    width: 60px;
    height: 60px;
  }
}
